.header{
    background-color: white;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(192, 192, 192);
    
}
.left-section{
    display: flex;
    align-items: center;
}
.wof-logo{
    height: 50px;
    margin-left: 20px;
}
.header-links{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    height: 30px;
    width: 100px;
    font-family: roboto;   
    color : black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    padding-bottom: 20%;
}
.header-links :hover{
    color: grey;
    transition: 0.5s;
    
}
.wof-logo-2{
    display: none;
}

.search-bar{
    margin-top: 10px;
    height: 50%;
    margin-right: 50px;
    border-width: 2px;
    border-radius: 3px;
    font-size: 100%;
}
.search-button{
    display: none;
}
.sidebar-2-button{
    display: none;
}
@media screen and (max-width: 835px){
    .header-links{
        display: none;
    }
    .wof-logo{
        display: none; 
    }
    
    .wof-logo-2{
        display: inline-flex; 
        height: 50px;
        
    }
    .search-bar{
        display: none;
    }
    .sidebar-2{   
        width: 35px;
        margin-top: 25%;
        margin-left: 10px;
    }
    .sidebar-2-button{
        display: inline-flex;
        background-color: white;
        border: none;
    }
    .search-button{
        display: inline-flex;
        height: 40px;
        width: 50px;
        background-color: white;
        border: none;
        margin-top: 15%;
    }
}